<div class="nav">
    <form class="form-signin">
        <div >
            <button class="button btn btn-lg btn-primary" type="submit"> <i class="fas fa-arrow-left"></i></button>
             <input class="button-1" type="search" placeholder="Recherche Twitter" aria-label="Search" required>
            <button class="bton button-3 btn btn-lg btn-primary primary" type="submit">Se connecter</button>
            <button class="bton btn btn-lg btn-primary secundary" type="submit">S'inscrire</button>
        </div>
       
    </form>
</div>
<div class="main">
    <div class="section-1">
        
    </div>

    <div class="section-2">
        <div id="section-1">
        <div class="embed-responsive embed-responsive-16by9">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/3_CiljCKV_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <a title="New" href="https://twitter.com/i/events/1266055552230096902">
            <h3 class="card-title text-uppercase">Tendances pour vous</h3>
        </a>
    </div>
    </div>

    <div class="section-3">      
        <div class="container">
        <div class="row">
        <div class="col-md-10  mx-auto">
            <div class="card card-signin my-5">
                <img src=" ./img/tweeter.png" alt="">
            <div class="card-body">
                <h5 class="card-title text-center">Voir ce qui se passe actuellement dans le monde</h5>
                <form class="form-signin">
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email d'utilisateur</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Mot de passe</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Se souvenir du mot de passe</label>
                </div>
                <button class="btn btn-lg btn-primary primary btn-block text-uppercase" type="submit">Se connecter</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-primary secundary btn-block text-uppercase" type="submit">S'inscrire</button>
                </form>
                <a href="https://twitter.com/fr/tos"> Conditions</a>
                <a href="https://twitter.com/fr/privacy"> Politique de confidentialité</a>
                <a href="https://help.twitter.com/fr/rules-and-policies/twitter-cookies"> Cookies</a>
                <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html"> Informations sur les publicités</a>
                <a href="https://business.twitter.com/"> Plus</a>
                <br>
                <a>© 2020 Twitter, Inc.</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>


