<div class="main">
    <div class="section-1">
            <form class="form-signin">
                <button class="button btn " type="submit"> <i class="tweet fab fa-twitter fa-fw"></i></h1></button>
                <button class="button btn menu btn-primary" type="submit"><h5>Home</h5> </button>
                <button class="button btn menu btn-primary" type="submit"><h5>Tweets</h5> </button>
                <button class="button btn menu btn-primary" type="submit"><h5>Compte utilisateur</h5> </button>
                <button class="button btn menu btn-primary" type="submit"><h5>Profil utilisateur</h5></button>
            </form>
            <form class="form-signin">
                <button class=" button-2 button btn menu btn-primary" type="submit"><h5>Tweet</h5></button>
            </form>
            <div>
                <img class="photo" src="./img/photo3.jpg" alt="">
                <h4>MiguelGMata</h4>
            </div>
    </div>


