<div class="nav">
    <i class="tweet fab fa-twitter fa-fw"></i></h1>
</div>
<div class="main">
    <div class="section-1">
        <h1>Section1</h1>
        
    </div>

    <div class="section-2">
        <h1>Section2</h1>
    </div>

    <div class="section-3">
        <h1>Section3</h1>
        <div  id="section_2_grid" >
        
        <div id="boite-1"></div>
        <div id="boite-2"></div>
        <div id="boite-3"></div>
        <div id="boite-4"></div>
        <div id="boite-5"></div>
        <div id="boite-6"></div>
        </div>
    </div>
</div>